.cardContainer {
  width: 100%;
  height: 500px;
  background-color: var(--raisin-black-strong);

  display: flex;
  align-items: center;
  justify-content: center;
}

.cardFrame {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column nowrap;  

  width: 20%;
  height: 80%;
  background: var(--raisin-black-plus-weak);
}

.whitespace {
  background-color: red;
  height: 50px;
}

.cardImageContainer {
  width: 100%;
}

.cardIcon {
  width: 100%;
  height: 100%;
}

.cardFooterTitle {
  padding-left: 0.5rem;
  font-size: 1.2rem;
}

.cardFooterDescription {
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.3rem;
}